<h2 class="text-center">
  Your to-dos to improve your skills
</h2>
<div class="list-group">
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Add more fields to the contact form</h5>
      <small>1 hour of coding</small>
    </div>
    <p class="mb-1">
      Please add those fields to the contact form:
    </p>
    <ul>
      <li>Address fields (Line 1, line 2, city, country, Zip Code)</li>
      <li>Job position field</li>
      <li>Company</li>
      <li>Contact info: (such as phone number, Fax, E-mail, Web site...)</li>
    </ul>
  </span>
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Update the data models
        <code>./src/app/contact.ts</code>
      </h5>
      <small>15 minutes of coding</small>
    </div>
    <p class="mb-1">
      Please update the contact data model by adding those properties:
    </p>
    <ul>
      <li>Address class (Line 1, line 2, city, country, Zip Code)</li>
      <li>Job position field</li>
      <li>Company</li>
      <li>Contact info class: (such as phone number, Fax, E-mail, Web site...)</li>
    </ul>
  </span>
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Create contacts service
      </h5>
      <small>30 minutes of coding</small>
    </div>
    <p class="mb-1">
      Add a contact service and use HttpClient Module, to store data on a specific API
    </p>
  </span>
</div>
